<%= form_with(model: reservation) do |form| %>
  <% if reservation.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
        <% reservation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<!-- Reservation Form Fields-->
  <div class="field">
    <%= form.label :restaurant_id, 'Restaurant' %>
    <%= form.collection_select :restaurant_id, Restaurant.all, :id, :name, prompt: 'Select Restaurant' %>
  </div>

  <div class="field" id="table-field" style="display: none;">
    <%= form.label :table_id, 'Table' %>
    <%= form.collection_select :table_id, [], :id, :name, prompt: 'Select Table' %>
  </div>
  <div class="field">
    <%= form.label :reservation_date %>
    <%= form.text_field :reservation_date, class: 'flatpickr', data: { enable_time: false } %>
  </div>

  <!-- Keep the time selection as it is -->
  <div class="field">
    <%= form.label :reservation_time, style: "display: block" %>
    <%= form.datetime_field :reservation_time %>
  </div>

  <!-- This should be Inactive  -->
  <div>
    <%= form.label :inactive, style: "display: block" %>
    <%= form.check_box :inactive %>
  </div>

  <div>
    <%= form.submit %>
  </div>

  <script type="text/javascript">
  flatpickr('.flatpickr', {
    dateFormat: "Y-m-d",
    // Add any other options as needed
  });
  </script>

<% end %>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const restaurantSelect = document.querySelector('#reservation_restaurant_id');
    const tableField = document.querySelector('#table-field');

    restaurantSelect.addEventListener('change', () => {
      const restaurantId = restaurantSelect.value;

      // Fetch tables associated with the selected restaurant
      fetch(`/restaurants/${restaurantId}/tables`)
        .then(response => response.json())
        .then(tables => {
          const tableSelect = document.querySelector('#reservation_table_id');
          tableSelect.innerHTML = ''; // Clear existing options

          // Populate table dropdown
          tables.forEach(table => {
            const option = document.createElement('option');
            option.value = table.id;
            option.textContent = table.name;
            tableSelect.appendChild(option);
          });

          // Show table dropdown
          tableField.style.display = 'block';
        });
    });
  });
</script>