<%= form_with(model: restaurant) do |form| %>
  <% if restaurant.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
        <% restaurant.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Restaurant fields -->
  <div>
    <%= form.label :restaurant_name, style: "display: block" %>
    <%= form.text_field :restaurant_name %>
  </div>

  <div>
    <%= form.label :restaurant_address, style: "display: block" %>
    <%= form.text_field :restaurant_address %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :contact_number, style: "display: block" %>
    <%= form.text_field :contact_number %>
  </div>

  <!-- Your existing restaurant fields here -->
  <div class="field">
    <%= form.fields_for :tables do |table_form| %>
      <p>
        <%= table_form.label :name, 'Table Name' %><br>
        <%= table_form.text_field :name %>
      </p>
      <p>
        <%= table_form.label :number_of_seats, 'Number of Seats' %><br>
        <%= table_form.number_field :number_of_seats %>
      </p>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
